@import '../../../assets/styles/mixins/flexbox.scss';
@import '../../../assets/styles/mixins/fonts.scss';
@import '../../../assets/styles/variables/colors.scss';

.cc-login {
    @include font-regular();
    @include flexbox(column, flex-start, center);
    position: relative;
    min-width: 374px;
    width: 100%;

    &__title {
        margin-bottom: 40px;
    }

    &__buttons {
        @include flexbox();
    }

    &__button {
        width: 100%;

        &_with-margin {
            margin-right: 30px;
        }
    }

    &__error-bar {
        @include font-semibold();
        margin-top: 10px;
        color: $color-red;
    }
}