$color-primary: #3CD6C3;
$color-secondary: #E1E4EA;
$color-third: #e8ecd6;
$color-fourth: #8E0618;

$color-white: #fff;
$color-black: #000;
$color-blue: #4D6CFA;
$color-green: $color-primary;
$color-red: $color-fourth;
$color-shadow-blue: $color-secondary;


$color-sidebar: $color-third;
$color-logo: $color-primary;
$color-success: $color-primary;
$color-error: $color-fourth;
$color-border: $color-blue;
$color-button: $color-primary;