@import '../../../assets/styles/variables/sizes';
@import '../../../assets/styles/mixins/flexbox';
@import '../../../assets/styles/variables/colors.scss';

.cc-header-wrapper {
  position: fixed;
  z-index: 2;
}

.cc-header {
  @include flexbox();
  &-left {
    width: $sidebar-width;
    @include flexbox();
  }
  &-button {
    width: 20px;
    height: 20px;
    background-color: $color-button;
    cursor: pointer;
  }
  &-right {
    @include flexbox();
  }
}