@font-face {
    font-family: 'SansPro-Light';
    src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansPro-ExtraLight';
    src: url('../fonts/SourceSansPro-ExtraLight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro-Bold';
    src: url('../fonts/SourceSansPro-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro-Regular';
    src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SansPro-Semibold';
    src: url('../fonts/SourceSansPro-Semibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}