@import '../../../assets/styles/mixins/flexbox.scss';
@import '../../../assets/styles/mixins/fonts.scss';

.cc-login {
    @include font-regular();
    @include flexbox(column, flex-start, center);
    position: relative;
    min-width: 374px;
    width: 100%;

    &__title {
        margin-bottom: 40px;
    }
}