@import '../../../assets/styles/variables/colors';
@import '../../../assets/styles/variables/sizes';
@import '../../../assets/styles/mixins/flexbox';

.cc-sidebar-wrapper {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    top: 0;
    background-color: $color-sidebar; 
}

.cc-sidebar {
    padding: 50px 0;
    position: relative;
    @include flexbox(column, flex-start);

    &__logo {
        font-size: 1rem;
    }
}